page-filter {
  .button-activity {
    display: inline;
    float: left;
    margin: 5px;
  }

  #container-activities ion-label div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
  }
}
