page-home {

}

.md {
  home-page{

  }
}

.ios {
  home-page {

  }
}

.ios, .md {
    home-page {
      .scroll {
        height: 100%
      }

      #map {
        width: 90%;
        height: 90%;
        margin: 0 auto;
      }

      #mylogo {
        height: 30px;
        width: 25px;
        background: url("../../assets/imgs/logohead.png") no-repeat;
        float: left;
      }

      #mylogotxt {
        float: right;
        color : #379bb6;
        margin-left: 5px;
        line-height: 30px;
      }

      #tophead{
        display : inline-block;
      }
    }
}
