<ion-header>
  <ion-navbar>
    <button class="button-navbar" (click)="showFilter()">
      <img name="menu" src="assets/imgs/filter.png" />
    </button>
    <ion-title text-center id="container-title">
      <div id="container-logo">
        <img id="app-logo" src="assets/imgs/logo-small.png" />
        <div id="app-name">Kefa</div>
      </div>
    </ion-title>
    <button class="button-navbar" (click)="showConnection()">
      <ion-icon name="person" color="kefa"><p *ngIf="user">{{user.firstName | slice:0:4}}{{user.firstName.length < 4 ? '' : '.'}}<p></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" >
  <div #map id="map"></div>
  <div class="container-places">
    <ion-slides pager (ionSlideDidChange)="slideChanged()">
      <ion-card *ngIf="!tempPlacesItems">
        <ion-card-header>
          Pas de résultats
        </ion-card-header>

        <ion-card-content>
          Désolé, nous n'avons pas trouvé d'activités correspondant à vos critères. Essayez de changer les filtres en cliquant sur le bouton en haut à gauche.
        </ion-card-content>
      </ion-card>

      <ion-slide *ngFor="let place of tempPlacesItems" (click)="showElement(place)">
        <ion-card [ngStyle]="{'background-image': 'url(' + place.image + ')'}" class="container-card">

          <div class="card-icon">

            <div>
              <button ion-button item-start clear small color="light" icon-start>
                <ion-icon name='star'></ion-icon>
                Note moyenne
                <ion-badge item-end color="kefa" outline style="margin-left: 5px;">{{ place.averageNote }}</ion-badge>
              </button>
            </div>

            <div>
              <button ion-button item-end clear small color="light" icon-start>
                <ion-icon name='stats'></ion-icon>
                Avis
                <ion-badge item-end color="kefa" outline style="margin-left: 5px;">{{ place.sumOpinions }}</ion-badge>
              </button>
            </div>

            <div>
              <button ion-button item-end clear small color="light" icon-start>
                <ion-icon name='logo-euro'></ion-icon>
                Prix
                <ion-badge item-end color="kefa" outline style="margin-left: 5px;">{{ place.price }}</ion-badge>
              </button>
            </div>

            <ion-fab *ngIf="place.type" right top class="fab-icon">
              <button ion-fab small clear outline color="kefa">
                <ion-icon name="{{place.type}}"></ion-icon>
              </button>
            </ion-fab>
          </div>

          <div class="card-infos" margin>
            <h2>{{ place.name }}</h2>
            <p>{{ place.address }}</p>
            <p>{{ place.description }}</p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
