page-home {

}

.md {
  home-page{

  }
}

.ios {
  home-page {

  }
}

.ios, .md {
    home-page {
      .scroll {
        height: 100%;
      }

      ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
      }
      /* optional: show position indicator in red */
      ::-webkit-scrollbar-thumb {
          background: #379bb6;
      }

      #map {
        width: 100%;
        height: 60%;
      }

      #mylogo {
        height: 30px;
        width: 25px;
        background: url("../../assets/imgs/logohead.png") no-repeat;
        float: left;
      }

      #mylogotxt {
        float: right;
        color : #379bb6;
        margin-left: 5px;
        line-height: 30px;
      }

      #imgLourd{
        height: 30px;
        width: 25px;
        background: url("../../assets/imgs/jardin_botanique.jpg") no-repeat;
        float: right;
      }

      #tophead{
        display : inline-block;
      }

      #filter {
        background: url("../../assets/imgs/filter.png") no-repeat left;
        height:18px;
        width:18px;
      }
    }
}
