<!--
  Generated template for the ElementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ place.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card [ngStyle]="{'background-image': 'url(' + place.image + ')'}" class="container-card">

    <div class="card-icon">

      <div class="info-note">
        <button ion-button item-start clear small color="light" icon-start>
          <ion-icon name='star'></ion-icon>
          Note moyenne
          <ion-badge item-end color="kefa" outline style="margin-left: 5px;">{{ place.averageNote }}</ion-badge>
        </button>
      </div>

      <div class="info-avis">
        <button ion-button item-end clear small color="light" icon-start>
          <ion-icon name='stats'></ion-icon>
          Avis
          <ion-badge item-end color="kefa" outline style="margin-left: 5px;">{{ place.sumOpinions }}</ion-badge>
        </button>
      </div>

      <ion-fab *ngIf="place.type" right top class="fab-icon">
        <button ion-fab small clear outline color="kefa">
          <ion-icon name="{{place.type}}"></ion-icon>
        </button>
      </ion-fab>
    </div>

    <div class="card-infos" margin>
      <h2>{{ place.name }}</h2>
      <p>{{ place.address }}</p>
      <p>{{ place.description }}</p>
    </div>
  </ion-card>

  <ion-card *ngIf="!place.opinions">
    <ion-card-header>
      Pas de commentaires
    </ion-card-header>

    <ion-card-content>
      Il n'y a pas encore de commentaires pour cette activité.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let opinion of place.opinions">
    <ion-card-header color="kefa">
      {{ opinion.person }}
    </ion-card-header>

    <ion-card-content class="card-note">
      <div><ion-icon *ngFor="let i of opinion.numberOfStars" name='star' class="note-stars"></ion-icon></div>
      <div><ion-icon *ngFor="let i of opinion.numberOfEmptyStars" name='star-outline' class="note-stars-outline"></ion-icon></div>
      <p *ngIf="opinion.description">{{ opinion.description }}</p>
      <p *ngIf="!opinion.description" class="opinion-no-comment">Cette personne n'a pas laissé de commentaire.</p>
    </ion-card-content>
  </ion-card>

  <ion-card padding *ngIf="!this.user">
    Vous devez être connecté pour ajouter un commentaire.
  </ion-card>

  <div *ngIf="this.user">
    <ion-card padding *ngIf="!isAbleToComment">
      Vous avez déjà laissé un commentaire sur cette activité.
    </ion-card>

    <form (ngSubmit)="logForm()" margin *ngIf="isAbleToComment">
      <h2>Ajouter un commentaire</h2>
      <ion-item>
        <ion-select [(ngModel)]="form.note" interface="action-sheet" name="title" placeholder="Note" cancelText="Annuler" required>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="form.comment" name="comment" placeholder="Commentaire" required></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Ajouter le commentaire</button>
    </form>
  </div>
</ion-content>
